<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
    $.ajax({
        url : "https://raw.githubusercontent.com/dcellwanger/CellTrails/master/NEWS",
        dataType: "text",
        success : function (data) {
            $("#News").html(data.replace(/\r|\n/g,"</br>"));
        }
    });
});
</script>

<pre><strong><code>
#   ____     _ _ _____          _ _
#  / ___|___| | |_   _| __ __ _(_) |___
# | |   / _ \ | | | || '__/ _` | | / __|
# | |__|  __/ | | | || | | (_| | | \__ \
#  \____\___|_|_| |_||_|  \__,_|_|_|___/
#
#  (c) Daniel C. Ellwanger, 2018.
</pre></strong></code>

<h3>CellTrails: Reconstruction, Visualization, and Analysis of Branching Trajectories from Single-cell Expression Data</h3>
<em>Software implementation by Daniel Christian Ellwanger</em>

<p>Department of Otolaryngology - Head &amp; Neck Surgery, and Institute for Stem Cell Biology and Regenerative Medicine, Stanford University School of Medicine, Stanford, CA 94305, USA</p>

<p><code>CellTrails</code> is an unsupervised algorithm for the <em>de novo </em>chronological ordering, visualization and analysis of single-cell expression data. <code>CellTrails</code> makes use of a geometrically motivated concept of lower-dimensional manifold learning, which exhibits a multitude of virtues that counteract intrinsic noise of single cell data caused by drop-outs, technical variance, and redundancy of predictive variables. <code>CellTrails </code>enables the reconstruction of branching trajectories and provides an intuitive graphical representation of expression patterns along all branches simultaneously. It allows the user to define and infer the expression dynamics of individual and multiple pathways towards distinct phenotypes.

[row]
[two_third]

<p><code>CellTrails</code> was developed with a 183-dimensional RT-qPCR gene expression panel of 1,008 cells collected from the developing chicken utricle, a balance organ. Key players in the utricle's function are cohorts of sensory hair cells that display mechanosensing organelles, called hair bundles, protruding from their apical surfaces. Bundle growth and maturation is dictated by an orchestration of distinct sequential and overlapping cellular processes. Our goal was to elucidate the temporal expression program of key hair bundle genes in subtypes of hair cells that occur with distinct spatial distribution. We showed that <code>CellTrails</code> faithfully predicted expression patterns of hair cell maturation with unprecedented resolution.</p>

<p>We confirmed that <code>CellTrails</code> can be applied to analysis of single-cell RNA-Seq datasets. We are pleased that you consider using <code>CellTrails</code> in your research. A detailed theoretical description of the algorithm and its application to biological uses has been published in:</p>

<p><b>Ellwanger DC, Scheibinger M, Dumont RA, Barr-Gillespie PG, and Heller S. "Transcriptional dynamics of hair-bundle morphogenesis revealed with CellTrails". <em>Cell Reports</em> 2018 Jun 5;23(10).</b></p>

[/two_third]
[one_third]

<img class="aligncenter size-full wp-image-2710" src="http://hellerlab.stanford.edu/wp-content/uploads/2018/05/celltrailsmap_ATOH1_animated.gif" alt="" width="256" height="256" />

[/one_third]
[/row]

<h3>News</h3>
<div id="News"></div>

<h3>Installation</h3>
<h4>Prerequisites</h4>
<p><code>CellTrails</code> is an extension for <code>R</code> (<a href="https://www.r-project.org/" rel="nofollow">https://www.r-project.org</a>), which is a free software environment for statistical computing and graphics. Please note that an installation of <code>R</code> is required for using <code>CellTrails</code>.<p>

<p>A simple yet efficient way to work with <code>R</code> consists in writing source code with your favorite text editor and sending it to the <code>R</code> console. It is suggested to use a development environment, such as <code>Rstudio</code> (<a href="https://www.rstudio.com/" rel="nofollow">https://www.rstudio.com/</a>), or a rich text editor with <code>R</code> functionalities, such as <code>Emacs</code> (<a href="https://www.gnu.org/software/emacs/" rel="nofollow">https://www.gnu.org/software/emacs/</a>), which greatly eases the work.</p>

We also recommend to download and install the graph visualization software <code>yEd</code> (<a href="http://www.yworks.com/products/yed" rel="nofollow">http://www.yworks.com/products/yed</a>). It provides great capabilities to visualize and analyze a trajectory graph produced by <code>CellTrails</code>.

<h4>CellTrails</h4>
The <code>CellTrails</code> package itself can be installed directly using the <code>devtools</code> package within an active <code>R</code> session.

<pre><strong><code>
devtools::install_github("dcellwanger/CellTrails", build_vignettes=TRUE)
</pre></strong></code>

<h3>Load package</h3>
After its successfull installation, the package can be loaded within an active <code>R</code> session as follows:

<pre><strong><code>
library(CellTrails)
</pre></strong></code>

<h3>User manual</h3>
<p>Please, refer to the <a href="https://dcellwanger.github.io/CellTrails/" rel="nofollow">vignette</a> for a detailed explanation and instruction on how to use <em>CellTrails</em>.</p>

<h3>Frequently Asked Questions</h3>
<p><b>An error message was shown during installation. What should I do?</p></b>
<p>If the following message is shown:</p>
<pre><strong><code>
Error in loadNamespace(name) : there is no package called 'devtools'.
</pre></strong></code>
<p>Then your <em>R</em> distrubution is missing the <code>devtools</code> package. Please install the <code>devtools</code> package as follows:</p>
<pre><strong><code>
install.packages("devtools")
devtools::install_github("dcellwanger/CellTrails", build_vignettes=TRUE)
</pre></strong></code>

<p>If the following message is shown:</p>
<pre><strong><code>
An error message was shown during installation: Error: package or
namespace load failed for ‘GenomeInfoDb’ in
loadNamespace(i, c(lib.loc, .libPaths()), versionCheck = vI[[i]]):
there is no package called ‘GenomeInfoDbData’ Error :
package ‘GenomeInfoDb’ could not be loaded.
</pre></strong></code>
<p>Then the package dependencies were not properly resolved automatically. Please, install the missing packages manually as follows:</p>
<pre><strong><code>
source("https://bioconductor.org/biocLite.R")
biocLite("GenomeInfoDb", "GenomeInfoDbData")
devtools::install_github("dcellwanger/CellTrails", build_vignettes=TRUE)
</pre></strong></code>

<p><b>CellTrails is not sucessfully installed using <code>devtools</code>.</b></p>
<p>If the installation with <em>devtools</em> is not successfull, you may need to install <em>CellTrails</em>' dependencies manually.</p>
<pre><strong><code>
install.packages("cba", "dendextend", "dtw", "EnvStats",
                 "ggplot2", "ggrepel", "igraph", "maptree", "mgcv",
                 "reshape2", "Rtsne", "rmarkdown", "knitr", "RUnit")

source("https://bioconductor.org/biocLite.R")
biocLite("BiocGenerics", "SingleCellExperiment", "Biobase",
         "SummarizedExperiment", "AnnotationDbi", "destiny",
         "GenomeInfoDb", "GenomeInfoDbData",
         "scater", "scran", "org.Mm.eg.db")

devtools::install_github("dcellwanger/CellTrails", build_vignettes=TRUE)
</pre></strong></code>

<p><b>Do I need to install <code>Xquartz</code>?</p></b>
<p>If you are using macOS X, we recommend to install <code>XQuartz</code>, a version of the X.Org X Window
System (X11) that runs on OS X (<a href="http://xquartz.org/" rel="nofollow">http://xquartz.org</a>). Although <code>CellTrails</code> does not require its installation, it is generally needed if you want to make use of X11
(including tcltk) in <code>R</code>. Please note, that it also needs to be re-installed when upgrading your macOS to a new major version (<a href="https://cran.r-project.org/bin/macosx/" rel="nofollow">https://cran.r-project.org/bi/macosx/</a>).</p>

<p><b>Do I get notified about updates?</p></b>
<p>Not yet. We recommend to check for updates regularly.</p>

<p><b>How can I update the package?</p></b>
<p>The package can be updated by installing the most recent version using <code>devtools</code>.</p>

<p><b>Will the package be available at Bioconductor.org?</p></b>
<p>Yes, <code>CellTrails</code> is currently under review at Bioconductor.</p>

<p><b>How is <code>CellTrails</code> licensed?</b></p>
<p><code>CellTrails</code> is licensed under Artistic 2.0 and, therefore, free for use.
